# Generated Roblox place files
/*.rbxl
/*.rbxlx

# Roblox Studio lock files
/*.rbxl.lock
/*.rbxlx.lock

# Rojo output
/sourcemap.json
/*.sourcemap.json

# Generated dependencies
/node_modules/
/Packages/

# OS noise
.DS_Store
Thumbs.db
